# Logs
logs
*.log
npm-debug.log*

# Directory for production builds
dist
dist-ssr

# Dependency directories
node_modules

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
